<style>
  #ureckon-guess-form {
    flex-direction: column;
  }
  #ureckon-guess-form h6,
  #ureckon-add-button {
    margin: 8px 0;
  }
  #ureckon-guess-form span {
    padding: 0 0 8px 0;
  }
  .ureckon-fail {
    color: #eb3b5a;
  }
  .ureckon-warning {
    color: #f7b731;
  }
  .ureckon-success {
    color: #26de81;
  }
</style>
<div>
    <button id="ureckon-cta" class="btn btn--to-secondary btn--full" style="display: none;">
      Click here for a guessing game
    </button>
    <div id="ureckon-guess-form" style="display: none;">
      <input type="hidden" id="ureckon-product-handle" value="{{product.handle}}" />
      <h6>Enter your guess below to see if you're close!</h6>
      <span id="ureckon-message-box"></span>
      <span id="ureckon-guesses-left"></span>
      <input type="text" id="ureckon-guess-input" placeholder="1234" />
      <button type="button" id="ureckon-guess-submit" class="btn btn--to-secondary btn--full">Check my answer</button>
      <button 
        class="btn btn--to-secondary btn--full"
        id="ureckon-add-button"
        style="display:none"
      >
        Add To Cart with my discount!
      </button>
    </div>
</div>